@font-face {
    font-family: "robotoslab";
    src: url("fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
  }

body {
    background-color:rgb(37, 37, 37);
    font-family: roboto;
    
}

header{
    background: #ADAB07;
    color: #605f00;
    position: fixed;
    top: 1rem;
    left: 0.5rem;
    width: 99vw;
    height: 10rem;
    font-family: robotoslab;

}

h1{
    color: #E7E546;
    font-size: 3rem;
    padding: 2rem;
}

h2{
    color: #AD8F07;
    
}

h3{
    color: #AD8F07;
    font-size: medium;
    
}

#container1{
    color: grey;
    margin: 5em;
    padding: 10em 1em 0em;
    right: 1em;
    max-width: 700px;
}

#container2{
    color: grey;
    margin: 5em;
    padding: .1em 1em 0em;
    right: 1em;
    max-width: 700px;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#container3{
    color: grey;
    margin: 5em;
    padding: 0.1em 1em 3em;
    right: 1em;
    max-width: 700px;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#container4{
  color: grey;
  max-width: 700px;
  position: absolute;
top: 490px;
bottom: 0;
left: 1000px;
right: 0px; 
float: right;
}

#container5{
    color: grey;
    max-width: 700px;
    position: absolute;
  top: 305px;
  bottom: 0;
  left: 1000px;
  right: 0px; 
  float: right;
}

nav{
    background: #3E5A00;
    padding: 1em;
    padding-top: 1em;
  
    width: 97.35vw;
    height: 1rem;
    top: 180px;
    left: 0.5rem;
    
    position: fixed;
}

ul{
    display:flex;
    font-size: large;
    top: -20px;
    position: relative;
    color: #90C616;
    list-style-type: none;
}

.hyper {
    justify-content: space-evenly;
    gap: 7rem;
}

footer a:link,
footer a:active,
footer a:visited,
nav a:link,
nav a:active,
nav a:visited {
  color: #90C616;
}

#gallerymain { 
    max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 3fr 1fr;
  padding-top: 350px;
  
}

#big-pic {
    border: .1em solid #605f00;
    box-shadow: 0em 0em .4em .2em #90C616;
    height: 332px;
    width: 500px;
  }
  
  #strip-div-container {
    border: .1em solid #605f00;
    height: 332px;
    overflow-y: scroll;
    width: 135px;
    box-shadow: 0em 0em .4em .2em #90C616;
  }
  
  #strip-div {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
  }
  
  #strip-div img {
    border: .05em solid #605f00;
    cursor: pointer;
    width: 100px;
    height: 66px;
    margin-bottom: .5em;
  }

figure {
    grid-column: 1 / 2;
    margin: 0;
  }

  #caption{
    color: #ADAB07;
    font-size: large;
  }

  #resume1{
    padding-top: 350px;
    text-align: center;
  }

  #booksmain{
    max-width: 700px;
    margin: 0 auto;
   padding-top: 350px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 20rem;
  }

  #moviesmain{
    max-width: 700px;
    margin: 0 auto;
    padding-top: 350px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 20rem;
    
  }

  
  